<div class="container bg-light h-100">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto text-center py-5">
      <h1 class="text-dark mb-5">Sistema de Gesti&oacute;n de Clientes</h1>
      <div class="card">
        <div class="card-body">
          <h5 class="text-muted mb-4">Inicia sesi&oacute;n con tu cuenta de Google para continuar.</h5>
          <button type="button" class="btn btn-outline-danger" (click)="onClick()">Continuar con Google</button>
        </div>
      </div>
    </div>
  </div>
</div>
